<div>
  <div class="row">
    <div class="col-xs-12">
      
      <div class="nav nav-tabs-justified">
          <div class="dropdown">
              <img width="68" height="34" alt="PRD LOGO" src="../assets/prdlogo.png"/>
            </div>
        <div class="dropdown">
          <button class="btn btn-primary btn-block" data-toggle="dropdown">BOOKING</button>
          <ul class="dropdown-menu">
            <li>
              <a routerLink="gr">GOOD RECEIPT</a>
            </li>
          </ul>
        </div>
        <div class="dropdown">
          <button class="btn btn-primary btn-block" data-toggle="dropdown">INWARD</button>
          <ul class="dropdown-menu">
            <li>
              <a routerLink="authentication">ENTRY</a>
            </li>
            <li>
              <a routerLink="employees">IMPORT</a>
            </li>
            <li>
              <a routerLink="page-not-found">SHORT/EXCESS</a>
            </li>
          </ul>
        </div>
        <div class="dropdown">
          <button class="btn btn-primary btn-block" data-toggle="dropdown">DISPATCH</button>
          <ul class="dropdown-menu">
            <li>
              <a routerLink="authentication">DISPATCH CHALLAN</a>
            </li>
            <li>
              <a routerLink="employees">MAIN CHALLAN</a>
            </li>
            <li>
              <a routerLink="page-not-found">DISPATCH STOCK TRANSFER</a>
            </li>
            <li>
              <a routerLink="page-not-found">SHORT EXCESS</a>
            </li>
            <li>
              <a routerLink="page-not-found">DISPATCH EXTRA GRS</a>
            </li>
          </ul>
        </div>
        <div class="dropdown">
          <button class="btn btn-primary" data-toggle="dropdown">DELIVERY</button>
          <ul class="dropdown-menu">
            <li>
              <a routerLink="authentication">DELIVERY RECEIPT SINGLE GR</a>
            </li>
            <li>
              <a routerLink="employees">DELIVERY RECEIPT MULTIPLE GR</a>
            </li>
            <li>
              <a routerLink="page-not-found">DELIVERY AKCN SLIP</a>
            </li>
            <li>
              <a routerLink="page-not-found">RECEIVE OUTSTANDING</a>
            </li>
            <li>
              <a routerLink="page-not-found">DELIVERY STOCK TRANSFER</a>
            </li>
            <li>
              <a routerLink="page-not-found">RUNSHEET</a>
            </li>
            <li>
              <a routerLink="page-not-found">DELIVERY PENDING BY RUNSHEET</a>
            </li>
            <li>
              <a routerLink="page-not-found">DELIVERY PENDING WITHOUT RUNSHEET</a>
            </li>
          </ul>
        </div>
        <div class="dropdown">
          <button class="btn btn-primary" data-toggle="dropdown">BILLING</button>
          <ul class="dropdown-menu">
            <li>
              <a routerLink="home">BOOKING BILL</a>
            </li>
            <li>
              <a routerLink="employees">3PL BILL</a>
            </li>
            <li>
              <a routerLink="page-not-found">DELIVERY BILL</a>
            </li>
            <li>
              <a routerLink="page-not-found">CROSSING BILL</a>
            </li>
          </ul>
        </div>
        <div class="dropdown">
          <button class="btn btn-primary" data-toggle="dropdown">ACCOUNTS</button>
          <ul class="dropdown-menu">
            <li>
              <a routerLink="home">HEAD MASTER</a>
            </li>
            <li>
              <a routerLink="employees">ACCOUNT GROUP</a>
            </li>
            <li>
              <a routerLink="page-not-found">ACCOUNT SUB GROUP</a>
            </li>
            <li>
              <a routerLink="page-not-found">LEDGER MASTER</a>
            </li>
            <li>
              <a routerLink="page-not-found">LEDGER OPENING BALANCE</a>
            </li>
            <li>
              <a routerLink="page-not-found">VOUCHER</a>
            </li>
            <li>
              <a routerLink="page-not-found">TRIP SHEET VOUCHER</a>
            </li>
            <li>
              <a routerLink="page-not-found">SALARY SHEET VOUCHER</a>
            </li>
            <li>
              <a routerLink="page-not-found">INTER BRANCH VOUCHER</a>
            </li>
            <li>
              <a routerLink="page-not-found">DAY BOOK JOURNAL</a>
            </li>
            <li>
              <a routerLink="page-not-found">CASH BOOK</a>
            </li>
            <li>
              <a routerLink="page-not-found">BANK BOOK</a>
            </li>
            <li>
              <a routerLink="page-not-found">LEDGER SUMMARY</a>
            </li>
            <li>
              <a routerLink="page-not-found">LEDGER SUMMARY CONSIDERD</a>
            </li>
            <li>
              <a routerLink="page-not-found">GROUP SUMMARY</a>
            </li>
            <li>
              <a routerLink="page-not-found">TRAIL BALANCE</a>
            </li>
            <li>
              <a routerLink="page-not-found">PROFIT AND LOSS ACCOUNT</a>
            </li>
            <li>
              <a routerLink="page-not-found">BALANCE SHEET</a>
            </li>
            <li>
              <a routerLink="page-not-found">EXPORT TO TALLY</a>
            </li>
          </ul>
        </div>
        <div class="dropdown">
          <button class="btn btn-primary" data-toggle="dropdown">POD</button>
          <ul class="dropdown-menu">
            <li>
              <a routerLink="home">PENDING POD</a>
            </li>
          </ul>
        </div>
        <div class="dropdown">
          <button class="btn btn-primary" data-toggle="dropdown">REPORTS</button>
          <ul class="dropdown-menu">
            <li>
              <a routerLink="home">BOOKING REPORT</a>
            </li>
            <li>
              <a routerLink="employees">INWARD REPORT</a>
            </li>
            <li>
              <a routerLink="page-not-found">DISPATCH REPORT</a>
            </li>
            <li>
              <a routerLink="page-not-found">MAIN CHALLAN REPORT</a>
            </li>
            <li>
              <a routerLink="page-not-found">DELIVERY REPORT</a>
            </li>
            <li>
              <a routerLink="page-not-found">PENDING DELIVERY REPORT</a>
            </li>
            <li>
              <a routerLink="page-not-found">RUNSHEET REPORT</a>
            </li>
            <li>
              <a routerLink="page-not-found">LOADING REPORT</a>
            </li>
            <li>
              <a routerLink="page-not-found">STOCK REPORT</a>
            </li>
            <li>
              <a routerLink="page-not-found">BILL REPORT</a>
            </li>
            <li>
              <a routerLink="page-not-found">LOG REPORT</a>
            </li>
            <li>
              <a routerLink="page-not-found">CANCELATION REPORT</a>
            </li>
            <li>
              <a routerLink="page-not-found">CROSSING REPORT</a>
            </li>
            <li>
              <a routerLink="page-not-found">TAX REPORT</a>
            </li>
            <li>
              <a routerLink="page-not-found">TDS REPORT</a>
            </li>
            <li>
              <a routerLink="page-not-found">LABOUR REPORT</a>
            </li>
            <li>
              <a routerLink="page-not-found">CARTAGE REPORT</a>
            </li>
            <li>
              <a routerLink="page-not-found">BROKERAGE REPORT</a>
            </li>
            <li>
              <a routerLink="page-not-found">FREIGHT DIFFERENCE REPORT</a>
            </li>
            <li>
              <a routerLink="page-not-found">POD REPORTS</a>
            </li>
            <li>
              <a routerLink="page-not-found">SHORT/EXCESS REPORTS</a>
            </li>
            <li>
              <a routerLink="page-not-found">UNLOADING REPORT</a>
            </li>
            <li>
              <a routerLink="page-not-found">RECEIVING OUTSTANDING REPORT</a>
            </li>
            <li>
              <a routerLink="page-not-found">STOCK TRANSFER REPORT</a>
            </li>
            <li>
              <a routerLink="page-not-found">TRIP VOUCHER REPORT</a>
            </li>
            <li>
              <a routerLink="page-not-found">ACKNOWLEDGEMENT REPORT</a>
            </li>
            <li>
              <a routerLink="page-not-found">BRANCH REPORT</a>
            </li>
            <li>
              <a routerLink="page-not-found">GST REPORT</a>
            </li>
          </ul>
        </div>
        <div class="dropdown">
          <button class="btn btn-primary" data-toggle="dropdown">TOOLS</button>
          <ul class="dropdown-menu">
            <li>
              <a routerLink="home">UI CONTROL</a>
            </li>
            <li>
              <a routerLink="employees">USER CONTROL</a>
            </li>
            <li>
              <a routerLink="page-not-found">BRANCH CONTROL</a>
            </li>
            <li>
              <a routerLink="page-not-found">PRINTING CONTROL</a>
            </li>
            <li>
              <a routerLink="page-not-found">PROGRAM DAIRY CONTROL</a>
            </li>
            <li>
              <a routerLink="page-not-found">PHONE DIRECTORY</a>
            </li>
            <li>
              <a routerLink="page-not-found">TAX RATE MASTER</a>
            </li>
            <li>
              <a routerLink="page-not-found">STATIONARY MASTER</a>
            </li>
            <li>
              <a routerLink="page-not-found">STATIONARY ALLOTMENT</a>
            </li>
            <li>
              <a routerLink="page-not-found">BULK GR RATE UPDATE </a>
            </li>
          </ul>
        </div>
        <div class="dropdown">
          <button class="btn btn-primary" data-toggle="dropdown">TRACK</button>
          <ul class="dropdown-menu">
            <li>
              <a routerLink="home">TRACK BY</a>
            </li>
          </ul>
        </div>
        <div class="dropdown">
          <button class="btn btn-primary" data-toggle="dropdown">ALERTS</button>
          <ul class="dropdown-menu">
            <li>
              <a routerLink="home">ALERT MODULE</a>
            </li>
          </ul>
        </div>
        <div class="dropdown">
          <button class="btn btn-primary" data-toggle="dropdown">MASTERS</button>
          <ul class="dropdown-menu">
            <li>
              <a routerLink="home">COMPANY MASTER</a>
            </li>
            <li>
              <a routerLink="employees">STATE MASTER</a>
            </li>
            <li>
              <a routerLink="page-not-found">REGION MASTER</a>
            </li>
            <li>
              <a routerLink="page-not-found">STATION MASTER</a>
            </li>
            <li>
              <a routerLink="page-not-found">ROUTE MASTER</a>
            </li>
            <li>
              <a routerLink="page-not-found">BRANCH GROUP MASTER</a>
            </li>
            <li>
              <a routerLink="page-not-found">BRANCH/AGENT MASTER</a>
            </li>
            <li>
              <a routerLink="page-not-found">ROLE MASTER</a>
            </li>
            <li>
              <a routerLink="page-not-found">USER MASTER</a>
            </li>
            <li>
              <a routerLink="page-not-found">FREIGHT METHOD MASTER</a>
            </li>
            <li>
              <a routerLink="page-not-found">PACKING MASTER</a>
            </li>
            <li>
              <a routerLink="page-not-found">ITEM MASTER</a>
            </li>
            <li>
              <a routerLink="page-not-found">PARTY MASTER</a>
            </li>
            <li>
              <a routerLink="page-not-found">BROKER MASTER</a>
            </li>
            <li>
              <a routerLink="page-not-found">VEHICLE MASTER</a>
            </li>
            <li>
              <a routerLink="page-not-found">DRIVER MASTER</a>
            </li>
            <li>
              <a routerLink="page-not-found">CROSSING RATE MASTER</a>
            </li>
            <li>
              <a routerLink="page-not-found">ITEM WISE CROSSING RATE MASTER</a>
            </li>
            <li>
              <a routerLink="page-not-found">LC/DC RATE MASTER</a>
            </li>
            <li>
              <a routerLink="page-not-found">PARTS MASTER</a>
            </li>
            <li>
              <a routerLink="page-not-found">VENDOR MASTER</a>
            </li>
            <li>
              <a routerLink="page-not-found">MERGE MASTER</a>
            </li>
            <li>
              <a routerLink="page-not-found">VEHICLE SERVICE MASTER</a>
            </li>
            <li>
              <a routerLink="page-not-found">SERVICE CARD MASTER</a>
            </li>
            <li>
              <a routerLink="page-not-found">LABOUR RATE MASTER</a>
            </li>
            <li>
              <a routerLink="page-not-found">EMPLOYEE MASTER</a>
            </li>
            <li>
              <a routerLink="page-not-found">SALARY MASTER</a>
            </li>
            <li>
              <a routerLink="page-not-found">TRANSIT MASTER</a>
            </li>
          </ul>
        </div>
        <div class="dropdown">
          <button class="btn btn-primary" data-toggle="dropdown">SUPPORT</button>
          <ul class="dropdown-menu">
            <li>
              <a routerLink="home">CALL ON : 9971618434</a>
            </li>
            <li>
              <a routerLink="employees">EMAIL AT : mkuk92@gmail.com</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
