

    <!-- <p>
      MASTER works!
      <button>
        <span class="glyphicon glyphicon-search">Search</span>
      </button>
    </p>
    <pre class="pre-scrollable">
    this is code area
      this is function;
      function
        var v=8;
        var v=8;
        var v=8;
        this is function area;
      
</pre> -->
<!-- <select class="form-control">
        <option>Select</option>
        <option>Option 1</option>
        <option>Option 2</option>
        <option>Option 3</option>
        <option>Option 4</option>
        <option>Option 5</option>

      </select>
      <div class="radio">
        <label>
          <input type="radio" name="radioGroup" value="option1" checked/>Male
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="radioGroup" value="option1" />Female
        </label>
      </div>
      <div>
        <label>
          <input type="checkbox" value="option1" />Open
        </label>
      </div> -->
