<div>
  <div class="row">

    <p>
      MASTER works!
      <button>
        <span class="glyphicon glyphicon-search">Search</span>
      </button>
    </p>
    <pre class="pre-scrollable">
    this is code area
      this is function;
      function
        var v=8;
        var v=8;
        var v=8;
        this is function area;
      
</pre>

    <form class="form-horizontal">
      <!-- <select class="form-control">
        <option>Select</option>
        <option>Option 1</option>
        <option>Option 2</option>
        <option>Option 3</option>
        <option>Option 4</option>
        <option>Option 5</option>

      </select>
      <div class="radio">
        <label>
          <input type="radio" name="radioGroup" value="option1" checked/>Male
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="radioGroup" value="option1" />Female
        </label>
      </div>
      <div>
        <label>
          <input type="checkbox" value="option1" />Open
        </label>
      </div> -->
      <div class="input-group col-sm-2">
        <span class="input-group-addon">$</span>
        <input type="text" class="form-control" placeholder="Enter">
      </div>
      <div class="form-group">
        <label for="InputName" class="control-label col-sm-2">Name</label>
        <div class="col-sm-4">
          <input class="form-control" type="text" id="inputName" value="Moosa Kalim Ullah Khan" readonly />
        </div>
      </div>
      <div class="form-group">
        <label for="InputDOB" class="control-label col-sm-2">Date Of Birth</label>
        <div class="col-sm-4">
          15-11-2018
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input class="form-control" type="email" id="InputEmail" placeholder="Email" />
      </div>
      <div class="form-group">
        <label for="inputMobile">Mobile</label>
        <input class="form-control" type="number" id="inputMobile" placeholder="Mobile" />
      </div>
      <div class="form-group">
        <label for="InputUrl">Personal Website</label>
        <input class="form-control" type="url" id="InputUrl" placeholder="Website" />
      </div>
    </form>
  </div>
</div>