<p>

  dashboard works!

  You Are Authenticated!

  <a href="login">Go Back</a>
</p>
<div style="background-color:#d7d7d7;margin:0">
	
	<!-- Start WOWSlider.com BODY section --> <!-- add to the <body> of your page -->
	<div id="wowslider-container1">
	<div class="ws_images"><ul>
		<li><img src="/assets/data1/images/desktopimage_1.jpg" alt="desktopimage (1)" title="desktopimage (1)" id="wows1_0"/></li>
		<li><img src="data1/images/desktopimage_1_0.jpg" alt="desktopimage (1)" title="desktopimage (1)" id="wows1_1"/></li>
		<li><img src="data1/images/desktopimage_2.jpg" alt="desktopimage (2)" title="desktopimage (2)" id="wows1_2"/></li>
		<li><a href="http://wowslider.net"><img src="data1/images/desktopimage_3.jpg" alt="html5 slider" title="desktopimage (3)" id="wows1_3"/></a></li>
		<li><img src="data1/images/desktopimage_4.jpg" alt="desktopimage (4)" title="desktopimage (4)" id="wows1_4"/></li>
	</ul></div>
	<div class="ws_bullets"><div>
		<a href="#" title="desktopimage (1)"><span><img src="data1/tooltips/desktopimage_1.jpg" alt="desktopimage (1)"/>1</span></a>
		<a href="#" title="desktopimage (1)"><span><img src="data1/tooltips/desktopimage_1_0.jpg" alt="desktopimage (1)"/>2</span></a>
		<a href="#" title="desktopimage (2)"><span><img src="data1/tooltips/desktopimage_2.jpg" alt="desktopimage (2)"/>3</span></a>
		<a href="#" title="desktopimage (3)"><span><img src="data1/tooltips/desktopimage_3.jpg" alt="desktopimage (3)"/>4</span></a>
		<a href="#" title="desktopimage (4)"><span><img src="data1/tooltips/desktopimage_4.jpg" alt="desktopimage (4)"/>5</span></a>
	</div></div><div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.net">jquery image carousel</a> by WOWSlider.com v8.8</div>
	<div class="ws_shadow"></div>
	</div>	
	<script type="text/javascript" src="engine1/wowslider.js"></script>
	<script type="text/javascript" src="engine1/script.js"></script>
	<!-- End WOWSlider.com BODY section -->

</div>